*{
    margin: 2px;
    padding: 0px;
}

#details{
    width: 500px;
    height: 300px;
    border-width: 2px;
    border-color: black;
    border-style: groove;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    /* display: none; */
}

.fields{
    display: flex;
    justify-content: space-between;
}

.f_col{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#save_stu_area{
    display: flex;
    justify-content: end;
}